{% extends "saller/base.html" %} }

{% block title %}
    商品列表
{% endblock %}
{% block label %}
    商品列表
    <a href="/Saller/goods_add/">增加商品</a>
{% endblock %}


{% block content %}
    <table class="table table-bordered dataTable">
        <thead>
        <tr>
            <th>商品编号</th>
            <th>商品名称</th>
            <th>商品价格</th>
            <th>商品数量</th>
            <th>商品产地</th>
            <th>商品保质期</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
            {% for one in goods_list %}
        <tr>
            <td>{{ one.good_number }}</td>
            <td>{{ one.good_name }}</td>
            <td>{{ one.good_price }}</td>
            <td>{{ one.good_count }}</td>
            <td>{{ one.good_location }}</td>
            <td>{{ one.good_safe_date }}</td>
            <td>
                <a class="btn btn-primary" href="/Saller/goods_add/">修改</a>
{#                <button class="btn btn-danger">下架</button>#}
                {% if one.good_status == 1 %}

                <a href="/Saller/goods_status/down/{{ one.id }}" type="button" class="btn btn-danger">下架</a>

                {% else %}
                <a href="/Saller/goods_status/up/{{ one.id }}" type="button" class="btn btn-warning">上架</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot></tfoot>

    </table>
    <ul class="pagination" style="float:right;margin-right:40px;">

    {% for one in goods_all.page_range %}
        <li class="paginate_button page-item previous">
        {% if status == "1" %}
            <a href="/Saller/goods_list/1/{{ one }}" class="page-link">{{ one }}</a>
        {% else %}
            <a href="/Saller/goods_list/0/{{ one }}" class="page-link">{{ one }}</a>
        {% endif %}


        </li>
    {% endfor %}

    </ul>



{% endblock %}
